.h1TitleCopyGoes,
.pLoremIpsumDolor {
  align-self: stretch;
  position: relative;
}
.h1TitleCopyGoes {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.pLoremIpsumDolor {
  font-size: var(--font-size-lg);
  line-height: 150%;
  color: var(--color-gray);
}
.content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.getStarted {
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.button {
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xl);
  align-items: center;
  justify-content: center;
}
.actions,
.column {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.actions {
  flex-direction: row;
  padding: var(--padding-base) 0 0;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.column {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.columnIcon {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.container {
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-61xl);
  text-align: left;
  font-size: var(--font-size-37xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.heroHeadingLeftModified {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-45xl) var(--padding-5xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (max-width: 960px) {
  .h1TitleCopyGoes {
    font-size: 40px;
  }
  .column,
  .columnIcon {
    flex: unset;
    align-self: stretch;
  }
  .container {
    flex-direction: column;
  }
}

}
